    <li class="list-row">
      <div class="text-xs uppercase font-semibold opacity-60"><%= answer.question %></div>
      <p class="list-col-wrap text-xs">
        <%= answer.text %>
      </p>
    </li>
